<% include partials/header %>
	<h1>Add a Post!</h1>

	<form action="/microblog" method="POST">
		<input type="text" name="title" placeholder="Post's title goes here" required><br><br>
		<textarea rows="10" cols="50" name="body" placeholder="Post's body goes here" wrap="hard" required></textarea><br><br>
		
		<p>Optionally, add an existing Author's name:<br>
		<select name="author_id">
			<% Object.keys(authors).forEach(function(key) { %> 
				<option value="<%= authors[key].id %>"><%= authors[key].name %></option>
			<% }) %>
		</select></p>
		Or, add a new Author (or don't):<br>
		<input type="text" name="newAuthor" placeholder="new author's name"><br><br>

		<input type="text" name="sticky_until" placeholder="stickiness thing goes here" disabled="disabled"><br><br>
		<button>Create Post</button>
	</form><br><br>
	<small><a href="/microblog" method="GET">Cancel creation, take me back home.</a></small>
<% include partials/footer %>