<% include partials/header %>
	<% if (Object.keys(posts).length < 1) { %>
		<h2><%= author.name %> has no posts yet.</h2>
	<% } else { %>
		<h2>Posts by <%= author.name %></h2>
		<ul>
			<% Object.keys(posts).forEach(function(key) { %> 
				<li><div><a href="/micro_post/<%=posts[key].id %>"><%= posts[key].title %></a></div></li>
			<% }); %>  
		</ul>
	<% } %>
	<br><br><small><a href="/microblog" method="GET">Go back Home.</a></small>
<% include partials/footer %>