<% include partials/header %>
	<h2>Email added</h2>
	<p>
	Thanks.  Email address <%= mail.address %> added for <%= mail.name %>.
	</p>
	<a href="/microblog">Go home here.</a><br><br>
<% include partials/footer %>